[gcode_macro _print_settings]
# Configuration values used by PRINT_START
variable_start_purge_length: 30.0              # Total amount of filament to purge (mm³)
variable_start_purge_prime_length: 5.0         # Initial prime extrusion before purge lines (mm)
variable_start_extruder_preheat_scale: 0.5     # % of target extruder temp to use for early preheat
variable_start_bed_heat_overshoot: 2.0         # Degrees above target to heat bed for faster stabilization
variable_start_bed_heat_delay: 2.0             # Seconds to wait after bed reaches temp (for thermal stability)
variable_start_purge_offset_y: 5.0             # Distance in front of the mesh area to draw purge lines (mm)
variable_start_purge_feedrate: 1200.0          # Feedrate for purge lines (mm/min)
# Configuration values used by PRINT_END
variable_end_retract_length: 2.0               # Filament retract before parking (mm)
variable_end_lift_z: 10.0                      # Z lift before travel (mm)
variable_end_park_x: min                       # "min", "max" or numeric value for X park
variable_end_park_y: max                       # "min", "max" or numeric value for Y park
# Z tilt configuration
variable_z_tilt_lift: 8.0                      # Z lift height for first z_tilt pass (mm)
# Quad gantry leveling configuration
variable_qgl_lift: 8.0                         # Z lift height for first coarse QGL pass (mm)
gcode: