[gcode_macro PAUSE_AFTER_D]
description: Pause the print after an additional D mm of filament extrusion

# Internal variable to store the absolute target extrusion value (filament_used)
variable_target_d: 0

gcode:
  # Get current filament usage in mm
  {% set d_now = printer.print_stats.filament_used|float %}

  # Compute target stop point = current + D
  {% set d_target = d_now + params.D|float %}

  # Store the target value in macro variable
  SET_GCODE_VARIABLE MACRO=PAUSE_AFTER_D VARIABLE=target_d VALUE={d_target}

  # Show info on screen
  M117 Will pause in {params.D|float|round(2)} mm

  # Start the delayed check
  UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=0.3