[delayed_gcode PAUSE_AT_D]
description: Checks every 0.3s whether enough filament has been extruded to trigger a pause

initial_duration: 0
gcode:
  # Get current extrusion (filament used)
  {% set d_now = printer.print_stats.filament_used|float %}

  # Get the target stop value from macro variable
  {% set d_target = printer["gcode_macro PAUSE_AFTER_D"].target_d|float %}
  {% set delta = (d_target - d_now)|round(2) %}

  # If not yet reached, continue checking
  {% if d_now < d_target %}
    M117 Pausing in {delta} mm
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=0.3

  # Otherwise, trigger PAUSE and stop monitoring
  {% else %}
    M117 Pausing now
    PAUSE
    SET_GCODE_VARIABLE MACRO=PAUSE_AFTER_D VARIABLE=target_d VALUE=0
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=0
  {% endif %}